.adminLogin {
   &__content {
        width: 600px;
        @media @tabletSM {
            width: 95%;
        }
        .center-all;
        &__logo {
            display: block;
            margin: 0 auto 15px auto;
        }
   }
}