.meusDadosLayout {
    padding: 40px 0;
    background-color: #f4f6f9;
    min-height: calc(100vh - 92px - 53px);
}

.meusDados {
    h2 {
        font-size: @title-size;
        font-weight: @bold;
        color: @primary;
        margin-bottom: 24px;

        span {
            color: @secundary;
        }
    }

    &__senhaAviso {
        font-size: 13px;
        color: @color-font-sub;
        margin-bottom: 8px;
    }
}
