//basic colors
@primary: #0B3C75;
@secundary: #FFC300;
@tertiary: #E30613;
@white: #fff;
@black: #000;
@red: #cd0000;
@yellow: #ffd500;
@darkgray: #383838;
@error: #dc3545;
@alert: #f59e0b;
@btnGray: #6c757d;
@borderColor: #e0e0e0;
@bgBoxContent: #fff;

@lightgray: #d4d4d4;
@green: #155724;
@orange: #e67e22;
@purple: #6f42c1;
@encerrado: #546e7a;

@gradientInit: #0f637e;
@gradientEnd: #2c8576;

//font-type
@font: "Poppins", sans-serif;
@regular: 400;
@semi-bold: 600;
@semiBold: @semi-bold;
@bold: 700;
@color-font: #555;
@colorFont: @color-font;
@color-font-sub: #7d7d7d;
@mid-size: 20px;
@title-size: 25px;

//media querys
@desktop: ~"only screen and (max-width: 1920px)";
@desktop-large: ~"only screen and (max-width: 1700px)";
@desktop-medium: ~"only screen and (max-width: 1530px)";
@notebook: ~"only screen and (max-width: 1366px)";
@notebook-small: ~"only screen and (max-width: 1200px)";
@tablet-large: ~"only screen and (max-width: 1110px)";
@tablet: ~"only screen and (max-width: 991px)";
@tablet-small: ~"only screen and (max-width: 767px)";
@tabletSM: @tablet-small;
@mobile-large: ~"only screen and (max-width: 610px)";
@mobile-mid: ~"only screen and (max-width: 575px)";
@mobile-sm: ~"only screen and (max-width: 480px)";
@mobile: ~"only screen and (max-width: 400px)";
@mobile-small: ~"only screen and (max-width: 360px)";